div{

}

.dropdown{
}

/* 
h2{
    border: 2px solid black;
    padding:30px;
    padding-top:5px;
    padding-bottom: 5px;
    margin: 30px;

} */

.artikel_container{
    display: flex;
    flex-direction: row;
}
div{
    border:2px solid black;
    margin:20px;
    padding: 10px;
}
.vit_text_svart_bakgrund{
    color:white;
    background-color: black;
}

.text_stor{
    font-size: larger;
}