


.artikel_container{
    display: flex;
    flex-direction: row;
}
div{
    border:2px solid black;
    margin:20px;
    padding: 10px;
}
.vit_text_svart_bakgrund{
    color:white;
    background-color: black;
}

.text_stor{
    font-size: larger;
}
.dropdown{
    border: 2px solid #76C1AE;
    width:50px;
    height: 50px;
}

header h1{
    background-color: rgb(118,194,175);
}
